<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Letter</title>
  <link rel="icon" type="image/png" href="./images/fav1.avif">
  <link rel="stylesheet" href="./cards.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1>
      <%= heading %>
    </h1>

    <% if (locals.post) { %>
      <form id="editForm" method="POST" action="/edit/:id">
        <input type="text" name="title" value="<%=post.title %>">
        <textarea name="content" rows="10"><%=post.content %></textarea>
        <input type="text" name="composername" value="<%=post.composername %>">
        <input type="email" name="receiveremail" value="<%=post.receiveremail %>">
        <input type="date" name="senddate" value="<%=post.date %>">
        <button class="full-width" type="submit">
          <%= submit %>
        </button>
      </form>
      <% } else {%>
        <form id="newPostForm" method="POST" action="/create">
          <input type="text" name="title" placeholder="Title" required>
          <textarea name="content" placeholder="Content" required rows="10"></textarea>
          <input type="text" name="composername" placeholder="Composer Name" required>
          <input type="email" name="receiveremail" placeholder="Receiver Email" required>
          <input type="date" name="senddate" required>
          <button class="full-width" type="submit">
            <%= submit %>
          </button>
        </form>
        <% } %>

  </div>
</body>

</html>
